# Ignore dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Optional OS files
.DS_Store
Thumbs.db

# Optional local env files
.env
.env.local

# explanation files
PROJECT_EXPLANATION.txt